.create-line-btn {
  font-size: 1rem;
  width: 120px;
  line-height: inherit;
  cursor: pointer;
  height: 42px;
  padding: 0.65rem 1.25rem;
  border: none;
  outline: none;
  border-radius: 2rem;
}

.subway-line-color-dot {
  display: inline-block;
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 100%;
}

.color-option {
  width: 30px;
  height: 30px;
  display: inline-block;
  cursor: pointer;
  border: none;
  border-radius: 3px;
}
